@import "semantic-ui";
@import "semantic-ui/collections/menu";

.login-header {
    padding: 25px 0 5px 0;
}

.chatbox {
    height: 450px;
}

.signup-form-card {
    margin: 30px auto !important;
    width: 500px !important;
}

#messages {
    height: 15em;
    overflow-y: auto;
}